<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Panel de Administración</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>👑 Panel de los Novios</h1>
      <p>Solo ustedes pueden ver esto 💍</p>

      <a href="/descargar" class="boton">📥 Descargar CSV</a>
      <table>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Ceremonia</th>
          <th>Comentarios</th>
          <th>Confirmación</th>
        </tr>
        {% for i in invitados %}
        <tr>
          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>
          <td>{{ i[4] }}</td>
        </tr>
        {% endfor %}
      </table>
      <a href="{{ url_for('formulario') }}" class="boton"
        >Volver al formulario</a
      >
    </div>
  </body>
</html>
