<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gracias por confirmar</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>¡Gracias por confirmar tu asistencia!</h1>
      <p>Tu registro ha sido guardado exitosamente. 💌</p>
      <div class="centrado">
      <a href="/formulario.html" class="boton">Volver al formulario</a>
    </div>
  </body>
</html>
