<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gracias por confirmar</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>¡Gracias por confirmar tu asistencia!</h1>
      <p>Tu registro ha sido guardado exitosamente. 💌</p>
      <div style="text-align: center">
        <a href="{{ url_for('formulario') }}" class="boton"
          >Volver al formulario</a
        >
      </div>
    </div>
  </body>
</html>
