<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Invitados</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Lista de Invitados</h1>

      <h2>Confirmaciones</h2>
      <p>Asistirán: {{ si_count }}</p>
      <p>No asistirán: {{ no_count }}</p>

      <a href="/descargar" class="boton">📥 Descargar CSV</a>

      <table>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Ceremonia</th>
          <th>Comentarios</th>
          <th>Confirmación</th>
        </tr>
        {% for i in invitados %}
        <tr>
          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>
          <td>{{ i[4] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
